*.o
afetch
alistat
compalign
compstruct
libsquid.a
revcomp
seqsplit
seqstat
sfetch
shuffle
sindex
sreformat
translate
weight
hmmalign
hmmbuild
hmmcalibrate
hmmconvert
hmmemit
hmmfetch
hmmindex
hmmpfam
hmmsearch
libhmmer.a
alignalign_test
evd_test
masks_test
parsingviterbi_test
tophits_test
trace_test
viterbi_exercise
weeviterbi_test
sreaa*
*.OPT.HMM.ssi
hmmalign2
hmmbuild2
hmmcalibrate2
hmmconvert2
hmmemit2
hmmfetch2
hmmindex2
hmmpfam2
hmmsearch2
libhmmer2.so
